body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 3rem 0;
}

.circle {
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  height: 2rem;
  width: 6rem;
  color: blue;
  border-radius: 1rem;
  border: aqua;
  border-style: double;
}

.button:hover {
  cursor: pointer;
  background-color: grey;
}
